<script type="text/javascript" src="//allstarfg.actonservice.com/acton/form/16472/0054/form.js">
</script>
<script type="text/javascript">
function formElementSerializers() { function input(element) { switch (element.type.toLowerCase()) { case 'checkbox': case 'radio': return inputSelector(element); default: return valueSelector(element); } };
function inputSelector(element) { return element.checked ? element.value : null; };
function valueSelector(element) { return element.value; };
function select(element) { return (element.type === 'select-one' ? selectOne : selectMany)(element); };
function selectOne(element) { var index = element.selectedIndex; return index < 0 ? null : optionValue(element.options[index]); };
function selectMany(element) { var length = element.length; if (!length) return null; var values = []; for (var i = 0; i < length; i++) { var opt = element.options[i]; if (opt.selected) values.push(optionValue(opt)); } return values; };
function optionValue(opt) { if (document.documentElement.hasAttribute) return opt.hasAttribute('value') ? opt.value : opt.text; var element = document.getElementById(opt); if (element && element.getAttributeNode('value')) return opt.value; else return opt.text; };
return { input: input, inputSelector: inputSelector, textarea: valueSelector, select: select, selectOne: selectOne, selectMany: selectMany, optionValue: optionValue, button: valueSelector };
};
var requiredFields = new Array(); var requiredFieldGroups = new Array(); addRequiredField = function (id) { requiredFields.push (id); };
addRequiredFieldGroup = function (id, count) { requiredFieldGroups.push ([id, count]); };
missing = function (fieldName) { var f = document.getElementById(fieldName); var v = formElementSerializers()[f.tagName.toLowerCase()](f); if (v) { v = v.replace (/^\s*(.*)/, "$1"); v = v.replace (/(.*?)\s*$/, "$1"); } if (!v) { f.style.backgroundColor = '#FFFFCC'; return 1; } else { f.style.backgroundColor = ''; return 0; } };
missingGroup = function (fieldName, count) { var result = 1; var color = '#FFFFCC'; for (var i = 0; i < count; i++) { if (document.getElementById(fieldName+'-'+i).checked) { color = ''; result = 0; break; } } for (var i = 0; i < count; i++) document.getElementById(fieldName+'-'+i).parentNode.style.backgroundColor = color; return result; };
var validatedFields = new Array(); addFieldToValidate = function (id, validationType, arg1, arg2) { validatedFields.push ([ id, validationType, arg1, arg2 ]); };
validateField = function (id, fieldValidationValue, arg1, arg2) { var field = document.getElementById(id); var name = field.name; var value = formElementSerializers()[field.tagName.toLowerCase()](field); for (var i = 0; i < validators.length; i++) { var validationDisplay = validators[i][3]; var validationValue = validators[i][1]; var validationFunction	= validators[i][2]; if (validationValue === fieldValidationValue) { if (!validationFunction (value,arg1,arg2,id)) {	field.style.backgroundColor = '#FFFFCC'; alert (validationDisplay); return false; } else { field.style.backgroundColor = ''; } break; } } for (var i = 0; i < implicitValidators.length; i++) { var validationDisplay = implicitValidators[i][0]; var validationValue = implicitValidators[i][1]; var validationFunction	= implicitValidators[i][2]; if (validationValue === fieldValidationValue) { if (!validationFunction (value,arg1,arg2,id)) { field.style.backgroundColor = '#FFFFCC'; alert (validationDisplay); return false; } else { field.style.backgroundColor = ''; } break; } } return true; };
var r = ''; formElementById = function(form, id) { for (var i = 0; i < form.length; ++i) if (form[i].id === id) return form[i]; return null; };
doSubmit = function(form) { try { if (typeof(customSubmitProcessing) === "function") customSubmitProcessing(); } catch (err) { } var ao_jstzo = formElementById(form, "ao_jstzo"); if (ao_jstzo) ao_jstzo.value = new Date().getTimezoneOffset(); var submitButton = document.getElementById(form.id+'_ao_submit_button'); submitButton.style.visibility = 'hidden'; var missingCount = 0; for (var i = 0; i < requiredFields.length; i++) if (requiredFields[i].indexOf(form.id+'_') === 0) missingCount += missing (requiredFields[i]); for (var i = 0; i < requiredFieldGroups.length; i++) if (requiredFieldGroups[i][0].indexOf(form.id+'_') === 0) missingCount += missingGroup (requiredFieldGroups[i][0], requiredFieldGroups[i][1]); if (missingCount >
0) { alert ('Please fill all required fields. '); submitButton.style.visibility = 'visible'; return; } for (var i = 0; i < validatedFields.length; i++) { var ff = validatedFields[i]; if (ff[0].indexOf(form.id+'_') === 0 && !validateField (ff[0], ff[1], ff[2], ff[3])) { document.getElementById(ff[0]).focus(); submitButton.style.visibility = 'visible'; return; } } if (formElementById(form, 'ao_p').value === '1') { submitButton.style.visibility = 'visible'; return; } formElementById(form, 'ao_bot').value = 'nope'; form.submit(); };
</script>
					
<form id="form_0054" method="post" enctype="multipart/form-data" action="//allstarfg.actonservice.com/acton/forms/userSubmit.jsp" accept-charset="UTF-8">
<input type="hidden" name="ao_a" value="16472"	>
<input type="hidden" name="ao_f" value="0054"	>
<input type="hidden" name="ao_d"	value="0054:d-0001"	>
<input type="hidden" name="ao_p" id="ao_p" value="0"	>
<input type="hidden" name="ao_jstzo"	id="ao_jstzo" value=""	>
<input type="hidden" name="ao_cuid" value=""	>
<input type="hidden" name="ao_srcid"	value=""	>
<input type="hidden" name="ao_bot"	id="ao_bot"	value="yes"	>
<input type="hidden" name="ao_camp"	value=""	>
						<div align="center" class="aoFormContainer" id="ao_alignment_container">

							<div class="form-group">
								<input class="form-control" id="form_0054_fld_0" name="Full Name" type="text" placeholder="Your Name *">
							</div>
							<div class="form-group">
								<input class="form-control" id="form_0054_fld_1" name="E-mail Address" onblur="singleCheck ('form_0054_fld_1', 'EMAIL', 'form_0054_fld_1-Label')" type="text" placeholder="Your Email *">
							</div>
							<div class="form-group">
								<input class="form-control" id="form_0054_fld_2" name="Phone Number" onblur="singleCheck ('form_0054_fld_2', 'USPHONE', 'form_0054_fld_2-Label')" type="text" placeholder="Your Phone *">
							</div>
							<div class="form-group">
								<textarea class="form-control" id="form_0054_fld_3" name="Message" placeholder="Your Message *"></textarea>
							</div>
						</div>
						<!-- BUTTONS -->
						<div id="form_0054_ao_submit_button">
							<input class="btn btn-xl" id="form_0054_ao_submit_input" name="SEND MESSAGE" type="button" value="Submit">
						</div>
						<div class="formNegCap">
							<input id="ao_form_neg_cap" name="ao_form_neg_cap" type="hidden" value="">
						</div>
						<img height='1' src='//allstarfg.actonservice.com/acton/form/16472/0054:d-0001/pgend.gif' width='1' style="display: none">
					</form>
					
				<script type="text/javascript">
if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0054_fld_0'); } 
if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0054_fld_1'); } 
if (typeof(addFieldToValidate) != 'undefined') { addFieldToValidate ('form_0054_fld_1', 'EMAIL'); } 
if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0054_fld_2'); } </script>